@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "mixins";

.stickyNav {
  background-color: $main-color;
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  padding: 28 0;
}

.callInfo {
  padding: 20px;
  font-family: $font-main;

  a {
    color: inherit;
  }
}

.callInfo:hover {
  color: white;
  transition: 1s;
  opacity: 0.8;
}
.main {
  background-image: url(https://images.unsplash.com/photo-1556830997-36d8a259ed7c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  width: 100%;
}

.headline {
  font-family: $font-main;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6em;
}

.lineBreak {
  width: 100%;
  margin-bottom: 10em;
  padding: 100px 0;
  background-color: $main-color;

  .line {
    font-family: $font-main;
    text-align: center;
    font-size: 2.5em;
  }
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  .text {
    font-size: 3em;
    font-family: $font-main;
  }
}

.service {
  border: 1px solid rgb(245, 242, 242);
  border-radius: 10px;
  background-color: rgb(247, 242, 242);
  box-shadow: 9px 9px 7px rgb(233, 231, 231);
  margin: 50px;
  min-height: 500px;
  max-width: 465px;
}

.text:hover + .description {
  opacity: 1;
  max-height: 200px;
}
.text:hover {
  color: $main-color;
}

.text {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 3s ease-out;
  font-family: $font-main;
  color: #006bc0;
  text-align: center;
  top: 0;
  bottom: 0;
  font-size: 20px;
  padding: 5px;
  padding-top: 35px;
}

.image {
  border-radius: 50%;
}

.imagePosition {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.citiesHeading {
  font-family: $font-main;
  font-size: 2em;
  text-align: center;
  margin: 2em;
}

.listBox {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

}

.list {
  margin: 5em;
  border: 1px solid rgb(241, 233, 233);
  border-radius: 10px;
  background-color: #fdf9f9;
  box-shadow: 9px 9px 7px rgb(233, 231, 231);
}

.citiesList {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.city {
  display: block;
  margin: 6px;
  font-size: 1.7em;
  font-family: $font-main;
}

.city:hover {
  color: $main-color;
  transition: 1.2s;
}

.footer {
  background-color: #1e1e1e;
  height: 350px;

  .column {
    width: 50%;
    float: left;
    padding: 50px 200px;

    h3 {
      color: $main-color;
      font-family: $font-main;
    }

    p {
      display: block;
      color: #8c8989;
      font-family: $font-main;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;

      a {
        color: #8c8989;
        text-decoration: none;
      }
      a:hover {
        color: $main-color;
        transition: 0.7s;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .stickyNav {
    background-color: $main-color;
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    width: 100%;
    height: 7em;
  }
  .callInfo {
    padding: 35px;
    font-family: $font-main;
    font-size: 33px;
  }

  .service {
    width: 50%;
    margin: 20px;
    min-height: 550px;

    .text {
      font-size: 30px;
    }
  }

  .footer {
    display: flex;
    margin: 0 auto;

    .column {
      margin: 0 auto;
      padding: 0 0;
      padding-top: 25px;
      padding-left: 10em;
    }
  }
  .listBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2em;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  .stickyNav {
    background-color: $main-color;
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    width: 100%;
    height: 7em;
  }
  .callInfo {
    padding: 40px;
    font-family: $font-main;
    font-size: 33px;
  }
  .service {
    width: 50%;
    margin: 20px;
    min-height: 550px;

    .text {
      font-size: 35px;
    }
  }

  .footer {
    display: flex;
    margin: 0 auto;

    .column {
      margin: 0 auto;
      padding: 0 0;
      padding-top: 35px;
      padding-left: 10em;
    }
  }
  .listBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2em;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .service {
    width: 50%;
    margin: 20px;
    min-height: 550px;

    .text {
      font-size: 35px;
    }
  }

  .footer {
    display: flex;
    margin: 0 auto;

    .column {
      margin: 0 auto;
      padding: 0 0;
      padding-top: 50px;
      padding-left: 130px;
    }
  }
  .listBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }
}

@media (min-width: 1150px) and (max-width: 1250px) {
  .listBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

  }
}
